SECRET_KEY=django-insecure-6y)5b_)=y%j#6=(#!=h1)2((fu=-cdz73@vzjf6z7&4t$j_4l3
DEBUG=True
ALLOWED_HOST=localhost,127.0.0.1
DB_ENGINE=django.db.backends.postgresql
DB_NAME=lalafo
DB_USER=meerim
DB_PASSWORD=1
DB_HOST=localhost
DB_PORT=5432
EMAIL_BACKEND=django.core.mail.backends.smtp.EMailBackend #класс
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=


